<%- include('./partials/header.ejs') %>

<div>
  <h1>Admin Dashboard</h1>
  <p>Welcome, <%= admin.id %> - <%= admin.username %> - <%= admin.role %></p>

  <div>
    <a href="/students">View Student List</a>
    <a href="/teachers">View Teacher List</a>
    <a href="/supervisors">Upload Supervisor Load</a>
    <a href="/teams">View Teams</a>
  </div>
</div>

<a class="btn btn-warning" href="/user-logout">Logout</a>

<%- include('./partials/footer.ejs') %>